header {
  background-color:rgb(179, 245, 245);
  text-align: center;
  font-family: sans-serif;
  color:rgb(109, 109, 241);
}

header h1{
  color:rgb(250, 120, 69)
}
header p{
   font-weight: bold;
}

header img{
border-radius: 50%;
}

body{
  text-align: center;
  margin: 0px;
  background-color: rgb(161, 240, 172);
}

.Rank1{
  color:red;
  font-weight: 80%;
}

.Rank2{
  color:green;
  font-weight: 80%;
}

.Rank3{
  color:brown;
  font-weight: 80%;
}

footer{
  font-weight: bold;
}

.form{
  background-color: #efefef;
  height:800;
  margin:10px;
}

.title{
  text-align: center;
  font-size:30px;
  font-weight: bold;
}

textarea{
  height:100;
  width:300;
}